<div class="page-top">
    <!-- BEGIN TOP NAVIGATION MENU -->
    <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
            <!-- BEGIN NOTIFICATION DROPDOWN -->
            <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                {#<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"#}
                   {#data-close-others="true">#}
                <div class="dropdown-toggle">
                    <i class="icon-bell"></i>
                    <span class="badge badge-default"> 7 </span>
                </div>
            </li>
            <!-- END NOTIFICATION DROPDOWN -->

            <!-- BEGIN USER LOGIN DROPDOWN -->
            <li class="dropdown dropdown-user">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                   data-close-others="true">
                    <img alt="" class="img-circle"
                         src="/bundles/tchweb/img/avatar3_small.jpg"/>
                    <span class="username username-hide-on-mobile"> HauTruong </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
                    <li>
                        <a href="#">
                            <i class="icon-user"></i> My Profile </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-key"></i> Log Out </a>
                    </li>
                </ul>
            </li>
            <!-- END USER LOGIN DROPDOWN -->
            <!-- BEGIN QUICK SIDEBAR TOGGLER -->
        </ul>
    </div>
    <!-- END TOP NAVIGATION MENU -->
</div>