<div class="page-actions">
    <div class="btn-group">
        <span class="page-title caption-subject font-grey-gallery">
        {{ app.session.get('company_name') }}
            </span>
    </div>
</div>