.media {
  margin-top: 15px;
  &:first-child {
    margin-top: 0;
  }
  .thumbnail {
    display: block;
    padding: 0;
    margin-bottom: 12px;
    line-height: 1.53846154;
    background-color: #fff;
    border: 1px solid #dfe0e4;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .05);
    transition: border .2s ease-in-out;
  }
  .media-header {
    padding: 10px 30px 10px 10px;
    position: relative;
    .media-left, .media-right, .media-body {
      display: table-cell;
      vertical-align: top;
      .media-object {
        display: block;
        width: 40px;
        height: 40px;
      }
      .media-heading {
        padding: 2px 0 0;
        margin: 0;
        color: #365899;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        a {
          color: #365899;
        }
      }
      .heading-sub {
        color: #90949c;
        font-size: 12px;
        line-height: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        a {
          color: #90949c;
        }
      }
    }

  }
  .media-thumb {
    position: relative;
    margin: 0 10px;
    .sharePhotos {
      clear: both;
      overflow: hidden;
    }
  }
  .media-footer {
    clear: both;
    .msg-post {
      padding: 0 10px;
    }
    .cm-post {
      background-color: #f6f7f8;
      border-top: 1px solid #e1e2e3;
      padding: 10px;
      border-radius: 0 0 4px 4px;
      .ip-post {
        position: relative;
        padding-left: 42px;
        .av-post {
          position: absolute;
          width: 32px;
          height: 32px;
          top: 0;
          left: 0;
        }
        .tx-post {
          position: relative;
          input {
            border-radius: 0;
            border-color: #dcdee3;
            font-size: 12px;
          }
          .fi-post {
            position: absolute;
            right: 10px;
            top: 2px;
            ul {
              margin: 0;
              padding: 0;
              list-style: none;
              li {
                float: left;
                display: inline-block;
                margin-left: 10px;
                label {
                  margin: 0;
                }
              }
            }
          }
        }
        .im-post {
          clear: both;
          overflow: hidden;
          padding: 5px 0;
        }
      }
    }
    .msg-post {
      .btn-msg ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        li {
          display: inline;
          float: left;
          margin-right: 30px;
          position: relative;
        }
      }
    }
  }
  .media-caption {
    .caption {
      word-break: normal !important;
    }
  }
}