{% extends 'TCHWebBundle:Layout:main.html.twig' %}

{% block header_title %}{{ 'call_list.page_title'|trans }}{% endblock %}


{% block page_title %}{{ 'todo.page_title'|trans }}{% endblock %}
{% block short_description %}{{ 'todo.page_description'|trans }}{% endblock %}


{% block breadcrumb %}
    <li>
        <span>{{ 'breadcrumb.todo'|trans }}</span>
    </li>
{% endblock %}


{% block content %}
    <div class="row">

        <div class="col-md-12">
            <div id="app"></div>
            <script type="application/javascript">
            </script>
        </div>
    </div>
{% endblock %}